.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 14px;
    background:dodgerblue;
    color:white;
  }
  
  .navIcon{
    font-size: 2rem !important;
  }